# <font color = 'dodgerblue'> **HW 1a Python (Total Points - 5)** </font>

You have to submit two files for this part of the  HW
1. FirstNameLastName_Hw1a.ipynb (colab notebook)
2. FirstNameLastName_Hw1a.pdf pdf file**

- This is a HW to test your understanding of Python Basics.

## <font color = 'dodgerblue'>**Q1: split() function - 0.25 Point**
Split the sentence below into list of words (1 Point)

In [5]:
sentence = 'This is a basic python assignment'

In [6]:
sentence.split(' ')

['This', 'is', 'a', 'basic', 'python', 'assignment']

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like

['This', 'is', 'a', 'basic', 'python', 'assignment']

## <font color = 'dodgerblue'>**Q2 print using f-string literals - 0.25 Point**

**Given the variables:**

```
course = 'Machine Learning'
lec_num = 1
```
Print the sentence

```
This is lecture 1 of Machine Learning
```

In [7]:
course  = "Machine Learning"
lec_num   = 1

In [8]:
print(f"This is lecture {lec_num} of {course}")

This is lecture 1 of Machine Learning

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like

This is lecture 1 of Machine Learning

## <font color = 'dodgerblue'>**Q3 Indexing for nested list - 1.25 Points**

Use indexing to get only the word `python` from nested list

In [9]:
nested_list = [10,9,[4,'hi'],['good',[10,99,['python is easy', 'c++ is hard']],45,15],12,107]

In [10]:
nested_list[3][1][2][0][0:6]

'python'

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like

'python'

## <font color = 'dodgerblue'>**Q4  Update Dictionary - 0.25 Point**
In the dictionary below , change the course number of ML course from 6341 to 6341.ss1

In [11]:
course_dict = {'Course Name': ['NLP', 'ML', 'DL'], 'Course Number': ['6342', '6341', '6382']}

In [12]:
course_dict

{'Course Name': ['NLP', 'ML', 'DL'], 'Course Number': ['6342', '6341', '6382']}

In [13]:
course_dict['Course Number'][1] = '6341.ss1'
course_dict

{'Course Name': ['NLP', 'ML', 'DL'],
 'Course Number': ['6342', '6341.ss1', '6382']}

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like

{'Course Name': ['NLP', 'ML', 'DL'],
 'Course Number': ['6342', '6341.ss1', '6382']}

## <font color = 'dodgerblue'>**Q5 List Comprehension and Function - 1.5 Points**

Create a function that get all the occurences of the word python (account for capitalization) in a string. You are not allowed to use for loop. (Hint - Use list comprehension. Search how you can use if statement in list comprehension.)

In [14]:
def list_python(input_string):

    # code here
    word = 'python'
    lowercase_string = input_string.lower()

    words = lowercase_string.split()

    occurences = [w for w in words if w == word]

    return occurences

In [15]:
# string to check your function
input_string = 'Python is wasy. I can learn python in one month'

In [16]:
# Run this cell and make sure that your solution matches teh solution shown below
list_python(input_string)

['python', 'python']

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like

['python', 'python']

## <font color = 'dodgerblue'>**Q6 Function and If-elif-else block - 1.5 Points**
You all are Pilots. You want to land a plane safely and the altitude required for landing a plane is 1000ft. If it is less than 1000 ft., tell(print) the pilot 'Safe to Land'. If its more than 1000 ft but less than 5000ft, tell (print) the pilot to “Bring down to 1000ft”, else if it more than 5000ft tell (print) the pilot to “Go around and try later”. The altitude is provided to you by the user (already added as the first line in function).

In [17]:
def land_or_not():
  altitude = int(input("Enter the altitude: "))

  # code here
  if altitude < 1000:
    print('Safe to Land')
  elif 1000 <= altitude < 5000:
    print('Bring down to 1000ft')
  else:
    print('Go around and try later')

In [18]:
# Run this cell to check your solution. Try different input values
land_or_not()

Enter the altitude: 30000
Go around and try later

In [18]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like.
land_or_not()

Enter the altitude: 100
Safe to Land

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like.
land_or_not()

Enter the altitude: 1200
Bring down to 1000 ft!

In [ ]:
# Do not RUN/MODIFY this cell. This tells you how your solution should look like.
land_or_not()

Enter the altitude: 30000
Go around and try later